$border_color: rgb(212, 207, 207);
$background_color: gray;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-45deg, rgb(169, 200, 209), rgb(204, 204, 236));
  background-size: cover;
  font-size: 20px;
  h1 {
    text-align: center;
    color: rgb(207, 161, 35);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 20%;
  }
  h2 {
    text-align: center;
    font-size: 1.5rem;
    color:rgb(17, 6, 65);
    img {
      max-width: 50px;
      height: auto;
    }
  }
}
.field {
  position: fixed;
  margin: 0 auto;
  background-color: $background_color;
  background-image: url("bg2.png");
  background-repeat: repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  visibility: hidden;
}

.border {
  position: absolute;
  background-color: $border_color;
  &.left {
    left: 0;
    height: 100%;
    width: 5%;
  }
  &.right {
    right: 0;
    top: 0;
    height: 100%;
    width: 5%;
  }
  &.bottom {
    bottom: 0;
    height: 5%;
    width: 100%;
  }
  &.bottom-left {
    left: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 0 0 0 100px;
    border-bottom: 50px solid $border_color;
    border-left: 50px solid $border_color;
    background-color: $border_color;
  }
  &.bottom-right {
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 0 0 100px 0;
    border-bottom: 50px solid $border_color;
    border-right: 50px solid $border_color;
    background-color: $border_color;
  }
}


.gate {
  position: absolute;
  background-color: $background_color;
  // background-image: url("bg2.png");
  // background-repeat: repeat;

}
.gate-left {
  position: absolute;
  background-color: $border_color;
}
.gate-right {
  position: absolute;
  background-color: $border_color;
}

.ball {
  border-radius: 50%;
  width: 3%;
  height: 3%;
  background-color: green;
  position: absolute;
}
.bit {
  display: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: yellowgreen;
  position: absolute;
  cursor: move;
}
